<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> 
    <script defer src="http://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
    <section class="her has-background-white-ter is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div column is-5-tablet is-4-desktop is-3-widescreen>
                       <% if flash[:errors] %>
                        <%= flash[:errors] %>
                        <% end %>
                        <%= form_for :session, url: new_login_path do |f| %>
                            <h3 class="title is-3">Login</h3>
                            
                            <div class="field">
                                <label for="name" class="label">Username</label>
                                <div class="control has-icons-left">
                                   <%= f.text_field :name %>
                                </div>
                            </div>
      
                            <div class="field">
                                <label for="password" class="label">Password</label>
                                <div class="control has-icons-left">
                                   <%= f.password_field :password %>
                                    </span>
                                </div>

                                <div class="field">
                                    <%= f.submit %>
                                </div>
                            </div>

                            
                        <% end %>

                </div>
            </div>
        </div>
    </section>
    
</body>
</html>