
<div class='index-container'>
    <% @cocktails.each do |ct| %>
        <div class='index-tile'>
        <p><%= link_to ct.drink, cocktail_path(ct) %></p>
        <% if @current_user %>
         <%= form_for @current_user.kitchen do |f| %>
                <%= f.hidden_field(:cocktail, value: ct) %>
                <%= f.hidden_field(:kitchen, value: @current_user.kitchen) %>
                <%= f.submit "Add to your Kitchen", class: "btn btn-primary" %>
        <% end %>
        <% else %>
        <p><%= button_to "Login/Signup to add this to your Kitchen", new_login_path %></p>
        <% end %>
        </div>
    <% end %>
</div>

