<h1 class="new-brew">Add your own drink!</h1>

<p class="new-brew">With this form you can add your own drink of choice to our system</p>
<p class="new-brew">Just provide us with a few details about your drink below</p>

<div class='new-brew-form'>
    <%= form_for @cocktail do |f| %>
        <label for="drink" class="label">Drink Name</label>
        <%= f.text_field :drink, class: "form-control" %>
        <br>
        <%= f.label :alcohol_percentage %>
        <%= f.text_field :alcohol_percentage, class: "form-control" %>
        <br>
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
        <br>
        <%= f.submit "Submit", class: "btn btn-warning" %>
    <% end %>
</div>