<h3 class="new-brew-form">Here are the drinks we could find that matched..</h3>  

   <div class='index-container'>
    <% @results.each do |result| %>
        <div class='index-tile'>
        <%= image_tag result.img_url, class: 'index-img' %>
        <p><%= link_to result.drink, cocktail_path(result) %></p>
        <% if @current_user %>
            <%= form_for result do |f| %>
                <%= f.hidden_field(:kitchen, value: @current_user.kitchen) %>
                <%= f.submit "Review this drink", class: "btn btn-warning" %>
            <% end %>
        <% else %>
        <p><%= button_to "Login/Signup to add this to your Kitchen", new_login_path, method: 'get' %></p>
        <% end %>
        </div>
    <% end %>
</div>