<h1><%= @cocktail.drink %>

<h3><%= @cocktail.alcohol_percentage %></h3>

<p><%= @cocktail.description %></p>

    <% if @current_user %>
        <p><%= button_to "Add Drink to your Kitchen" %></p>
    <% else %>
        <p><%= button_to "Login/Signup to add this to your Kitchen" method: 'get' %></p>
    <% end %>