
<div class='new-brew-form'>
    <%= image_tag @cocktail.img_url, class: 'index-img' %>
    <h1><%= @cocktail.drink %>

    <h3><strong>Percentage: </strong><%= @cocktail.alcohol_percentage %></h3>

    <h5><strong>Brand: </strong><%= @cocktail.brand %></h5>
    
    <h6><strong>Style: </strong><%= @cocktail.style %></h6>

    <p><strong>Description: </strong><%= @cocktail.description %></p>

    <% if @current_user %>
        <a href="http://localhost:3000/reviews/new?" class="btn btn-warning">Review this drink!</a>
    <% else %>
        <p><%= button_to "Login/Signup to review this drink", login_path, class: "btn btn-warning", method: 'get' %></p>
    <% end %>

</div>