<h1>Review a Drink</h1>

<h3>Tell us how you liked this drink!</h3>

<%= form_for @review do |f| %>
    <%= f.label :stars %>
    <div class="rating_selection">

    <%= f.radio_button :stars, 1 %> 
    <label for="review_rating_1">
    <span>1 Star</span></label>

    <%= f.radio_button :stars, 2 %> 
    <label for="review_rating_2">
    <span>2 Stars</span></label>

    <%= f.radio_button :stars, 3 %> 
    <label for="review_rating_3">
    <span>3 Stars</span></label>

    <%= f.radio_button :stars, 4 %> 
    <label for= "review_rating_4">
    <span>4 Stars</span></label>

    <%= f.radio_button :stars, 5 %> 
    <label for="review_rating_5">
    <span>5 Stars</span></label>

    </div>

    <div>
    <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %></div>
        <%= f.hidden_field :user_id, value: @current_user.id  %>
        <%= f.label :cocktail_id %>
        <%= f.collection_select :cocktail_id, Cocktail.all, :id, :drink %>
        <%= f.submit "Review", class: "btn btn-secondary", style: "margin-top: 10px;" %>
    <% end %>
<br>
<div>