<h1 class='new-brew-form'>Review a Drink</h1>

<h3 class='new-brew-form'>Tell us how you liked this drink!</h3>
<div class="new-brew-form">
    <%= form_for @review do |f| %>

    <label for="cocktail">Which drink would you like to review?</label>
    <br>
    <%= f.collection_select :cocktail_id, Cocktail.all, :id, :drink, prompt: true%><br />
    <label for="stars">How many stars for this drink?</label>
    <div class="rating_selection">

    <%= f.radio_button :stars, 1 %> 
    <label for="review_rating_1">
    <span>⭐</span></label>
    <br>
    <%= f.radio_button :stars, 2 %> 
    <label for="review_rating_2">
    <span>⭐⭐</span></label>
    <br>
    <%= f.radio_button :stars, 3 %> 
    <label for="review_rating_3">
    <span>⭐⭐⭐</span></label>
    <br>
    <%= f.radio_button :stars, 4 %> 
    <label for= "review_rating_4">
    <span>⭐⭐⭐⭐</span></label>
    <br>
    <%= f.radio_button :stars, 5 %> 
    <label for="review_rating_5">
    <span>⭐⭐⭐⭐⭐</span></label>
</div>


    <label for="content">How did you enjoy this drink?</label>
    <br />
    <%= f.text_area :content%>
    <br />
     <%= f.hidden_field :user_id, value: @current_user.id  %>
    <%= f.submit "Review", class: "btn btn-warning", style: "margin-top: 10px;" %>
    <% end %>


<% if flash[:review_errors] %>
    <% flash[:review_errors].each do |error| %>
    <p style="color:black;"><%=error%></p>
    <%end%>
<%end%>

</div>
<br>
