<!DOCTYPE html>
<html>
  <head>
    <title>Slurp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--Nav Bar/Logo/Links on top of page begins here! (: -->
    <nav class="navbar navbar-default">
      <div class="nav navbar-nav">
        <a href="http://localhost:3000/cocktails">
          <img src="https://www.freelogodesign.org/download/file?id=2127417c-38e2-4e52-9181-b36d1f7315b9_200x200.png" alt="Picture Broken" style="max-height: 150px" class="py-2 px-2"  >
        </a>
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      
      <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left', action: '/search') do %>
      <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
      <div class="input-group-btn">
      <%= button_tag "FindBrew", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>
  </div>
<% end %>
  
      <div class="nav navbar-nav"></div>
          <a href="/cocktails" class="navbar-item">Home</a>
            <% if @current_user %>
              <%= link_to "My Kitchen", @current_user.kitchen %>
              <%= link_to "NewBrew", new_cocktail_path %>
              <%= link_to "BrewReview", new_review_path %>
              <%= link_to "Logout", logout_path, method: :delete  %></li>
            <% else %>
              <a href="/users/new" class="navbar-item">Signup</a>
              <a href="/login" class="navbar-item">Login</a>
            <% end %>
        </div>
      </div>
    </nav>
  
    <script src="/app/index.js"></script>
    
    
    
    
    
    
    <%= yield %>
  </body>
</html>
